.cancel-btn {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
}

.cancel-btn:hover {
  background-color: #cc0000;
}

.cancel-msg {
  color: red;
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
}
